




                        // NAV





@media only screen and (max-width: 1000px) {

    .navParent {
        justify-content: space-between !important;

        .navItem1 {
            margin-left: 5% !important;
        }

        .navItem2 {
            display: none !important;
        }

        .navItem4 {
            display: block !important;
            margin-right: 5% !important;
        }
    }

}

@media only screen and (max-width: 600px) {

    .navParent {

        .navItem1 {
            img {
                width: 80% !important;
            }
        }

        .navItem3 {

            i {
                font-size: 25px !important;
            }
        }

        .navItem4 {

            .navBtn {
                width: 40px !important;
            }
        }
    }

}

@media only screen and (max-width: 450px) {

    .navParent {

        .navItem1 {
            img {
                width: 75% !important;
            }
        }

        .navItem3 {

            i {
                font-size: 23px !important;
            }
        }

        .navItem4 {

            .navBtn {
                width: 33px !important;
            }
        }
    }

}

@media only screen and (max-width: 600px) {

    .mobileNavParent {
        width: 58% !important;

        .menuParent {

            .menuTop {

                div:first-child {
                    
                    img {
                        width: 80% !important;
                    }
                }

                .closeMobile {

                    i {
                        font-size: 20px !important;
                    }
                }
            }

            .menuContent {

                ul {

                    li {
                        margin-top: 20px !important;

                        a {
                            font-size: 20px !important;
                        }
                    }
                }
            }

            .menuBottom {
                margin-top: 220px !important;

                p {
                    font-size: 18px !important;

                    a {
                        font-size: 20px !important;
                    }
                }
            }
        }
    }

}

@media only screen and (max-width: 450px) {

    .mobileNavParent {
        width: 60% !important;
    }

}

@media only screen and (max-width: 400px) {

    .mobileNavParent {
        width: 62% !important;
    }

}




                        // HOME





@media only screen and (max-width: 1200px) {

    .homeParent {

        .homeContent {

            h3 {
                font-size: 18px !important;
            }

            h1 {
                font-size: 70px !important;
            }
        }
    }

}

@media only screen and (max-width: 840px) {

    .homeParent {

        .homeContent {

            h3 {
                font-size: 16px !important;
            }

            h1 {
                font-size: 60px !important;
            }
        }
    }

}

@media only screen and (max-width: 610px) {

    .homeParent {

        .homeContent {

            h3 {
                font-size: 15px !important;
            }

            h1 {
                font-size: 50px !important;
            }
        }
    }

}

@media only screen and (max-width: 500px) {

    .homeParent {

        .homeContent {

            h3 {
                font-size: 14px !important;
            }

            h1 {
                font-size: 35px !important;
            }
        }
    }

}

@media only screen and (max-width: 350px) {

    .homeParent {

        .homeContent {

            h3 {
                font-size: 13px !important;
            }

            h1 {
                font-size: 30px !important;
            }
        }
    }

}